
$color-primary: #222;
$color-secondary: #f2f2f2;
$color-text: black;
$color-text-light: #666;
$color-background: #ffffff;
$color-hover: #dcdcdc;
$color-button: black;
$color-button-hover: #f0f0f0;


$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;
$spacing-xlarge: 30px;


$border-radius: 5px;


$sidebar-width: 250px;
